# Angular
/dist
/tmp
/out-tsc
/bazel-out
/node_modules
npm-debug.log
yarn-error.log
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# Spring Boot
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# IDE
.idea/
.idea
*.iws
*.iml
*.ipr
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.apt_generated
.factorypath
.springBeans
.sts4-cache
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*
/nbproject/private/
/nbbuild/